// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2c3e50;
  --ion-color-primary-rgb: 44, 62, 80;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #273646;
  --ion-color-primary-tint: #415a73;

  --ion-color-secondary: #27ae60;
  --ion-color-secondary-rgb: 39, 174, 96;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #229954;
  --ion-color-secondary-tint: #3db970;
}
